<div class="container-fluid ws-invest" style="background: #fbf7f7;">
  <div class="container">
    <div class="text-center">
      <h1>Real Estate Investment</h1>
      <h3>Trading on Real Estate
      </h3>
      <video play="true" width="100%" muted="" autoplay="" loop="" draggable="false" style="border: none;">
        <source src="https://britchain.io/assets/video/spin.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>


<div class="container-fluid wp-start p5">
  <div class="p-5 sp">
    <h2 class="mt-5 text-center st">Benefits and pricing
    </h2>
  </div>
  <div class="container mb-5">
    <div class="row pb-5">

      <div class="col-md-4 d-table m-auto rp-invest">
        <div class="invest-2 hv" style="background: #007bff;">
          <img src="https://britchain.io/assets/img/spin.png" alt="" width="100%"
            style="margin-left:-6rem; margin-top: -5rem;">
          <h2>Real Estate Investment</h2>
          <h4 class="mt-2 p-2">Min: $10,000</h4>
          <p class="p-2 pb-3">Max: Unlimited</p>
          <a routerLink="signup" class="pl-5 pr-5 pb-2 pt-2 btn_st">get started</a>
          <hr class="m-3">
          <div class="featurs pb-4">
            <ul>
              <li>✔ Fixed interest up to 30%</li>
              <li>✔ Financial planning session</li>
              <li>✔ No tax deductions</li>
              <li>✔ Automated Fund Allocation</li>
            </ul>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
