<ng-progress
  [color]="'#4659E2'"
  [speed]="200"
  [thick]="true"
  [speed]="500"
  [trickleSpeed]="250"
></ng-progress>

<div class="container-fluid ws-how" style="background: #d2d2d2">
  <div class="container">
    <div class="text-center">
      <h1>contact us</h1>
      <h3>What can we help you with?</h3>
      <img src="https://Bestrade.io/assets/img/contact-us.png" alt="" />
    </div>
  </div>
</div>

<div class="container pt-5 do">
  <div class="row pt-5">
    <div class="col-sm-4 col-md-3">
      <h2>Your Satisfaction Is Our Concern</h2>
    </div>
    <div class="col-sm-8 col-md-6">
      <p>
        At Hexfinancer, nothing is ever done. We value experimentation and
        iteration over the perfect solution. We recognize that most decisions
        can be changed or reversed, and that it is often superior to make the
        <strong>“wrong”</strong> decision quickly than to make the
        <strong>“right”</strong> decision too late.
      </p>
      <p>
        Sometimes we make missteps, but if mistakes happen early, we can adapt
        and learn. It means more work sometimes, but it also means endless
        creativity. And that’s what makes it fun, right?. What you accomplish is
        more important than how many hours you spend at the office. We don’t
        care about unnecessary face time, We don’t track hours. But success over
        the long term requires working smart. That means being efficient,
        remembering what our highest priorities are and finding the simplest
        ways to accomplish them.
      </p>
    </div>
  </div>
</div>

<div class="container text-center ws-more" style="margin-top: 10rem">
  <h2 class="mb-5">We take each Customer like our only customer.</h2>

  <form action="https://Hexfinancer.io/contact" method="post" class="text-left">
    <input
      type="hidden"
      name="_token"
      value="2fAjRZNRz8yOdMTLrnvKQyJZTdxElNzIeOBIp8he"
    />
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name" class="pl-3">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            placeholder="Enter full name"
            required=""
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="Email" class="pl-3">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="name@example.com"
            required=""
          />
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="msg" class="pl-3">Message</label>
      <textarea
        class="form-control"
        name="message"
        id="msg"
        rows="10"
        required=""
        placeholder="Message here..."
      ></textarea>
    </div>

    <div class="d-table m-auto pb-5">
      <button class="pl-5 pr-5 pb-2 pt-2 mt-3 mb-5 btn_st">SEND</button>
    </div>
  </form>
</div>

<div style="text-align: center">
  <div class="mapouter">
    <div class="gmap_canvas">
      <iframe
        width="100%"
        height="500"
        id="gmap_canvas"
        src="https://maps.google.com/maps?q=seattle&t=&z=13&ie=UTF8&iwloc=&output=embed"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
      ></iframe
      ><a href="https://www.whatismyip-address.com/divi-discount/"></a>
    </div>
  </div>
</div>
