<div class="container-fluid">
  <div class="header">
    <h1 class="header-title">Loan</h1>
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-0">Loan</p>
          <br />
          <div class="grid-body text-center">
            <div class="item-wrapper">
              <p class="_ps">
                <span
                  >hexfinancer, under our regulation under the USA government as
                  a registered and insured company, we offer a personal loan to
                  our registered and verified customers under certain
                  conditions, which will be the loaner. How and when will we
                  Give You a Loan?&nbsp; When you have signed and returned the
                  and the agreement, we will sign. The agreement will start on
                  the day and will end after when you have re-paid everything
                  you owe us. Loan terms and conditions: General terms and
                  conditions of hexfinancer.&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >1. Important Information Entering into a loan agreement with
                  us is a significant financial commitment. In applying, you
                  must: have made your own assessment in relation to the
                  suitability of the loan agreement for your business&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >● Consent to all searches necessary to determine the
                  financial status of your business and other relevant checks
                  appropriate to assessing creditworthiness&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >● Understand that information provided by you in the
                  application will form part of the loan agreement. Information
                  later proven to be false or misleading may lead to a breach of
                  the loan agreement which could result in the immediate
                  withdrawal of the loan, a demand for immediate repayment and
                  the enforcement of any security granted in connection with the
                  loan agreement.&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >● Acknowledge that upon entry into a loan agreement with us
                  you will incur binding legal obligations and that you should
                  seek independent legal advice.&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >2. Summary heads of terms Our summary heads of terms provides
                  an outline that reflects the typical nature of the loan
                  agreement that hexfinancer, the <q>Lender</q>, would consider
                  making available. This is not an offer to provide finance. Any
                  loan agreement would be subject to due diligence and the
                  documentation being in a form satisfactory to the
                  lender:&nbsp;
                </span>
              </p>
              <p class="_ps"><span>1. Lender hexfinancer.&nbsp; </span></p>
              <p class="_ps">
                <span
                  >2. Borrower Eligible person being within the scope of the
                  hexfinancer loans scheme&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >3. The amount and term are $35,000 to $100,000 or up to 100%
                  of the eligible project. Term up to 3 years, including:&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >Stage 1: availability period of up to 2 years during which
                  drawdowns will be permitted.&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >Stage 2: extension period of up to 2 years during which no
                  further drawdowns will be permitted. Stage 3: repayment period
                  of up to 5 years.&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >4. The purpose of the loan is to be available to meet the
                  eligible costs of a research and development project.&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >5. Drawdown Staged drawdowns, quarterly in advance based on
                  project milestones. Drawdowns will be subject to project
                  progress, monitoring officer sign-off and financial and
                  reporting covenants being met. The full amount will not be
                  drawn at the outset.&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >6. Fees Arrangement, commitment, non-usage, monitoring or
                  security fees will usually apply. Where bespoke activities or
                  arrangements are needed to complete a transaction, the lender
                  reserves the right to pass on or share these costs, including
                  the lender's legal and valuation fees. This is subject to
                  prior agreement with the borrower.&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >7. Interest During the availability and extension periods,
                  interest will be payable quarterly at 3.7% a year on amounts
                  outstanding. During the availability and extension periods,
                  interest will be accrued quarterly at 3.7% a year on amounts
                  outstanding and deferred to the repayment period. During the
                  repayment period, interest will be payable quarterly at 7.4% a
                  year on amounts outstanding, including the deferred interest
                  from the availability and extension periods. Fixed interest
                  rate, subject to any restructuring or extension of the loan
                  agreement. The first interest period will start on the first
                  drawdown date and the final interest period will end on the
                  termination date.&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >8. Repayment The final repayment structure will be determined
                  by the lender but could include:&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >1. Interest-only period of up to 5 years, consisting of the
                  agreed availability period and extension period and&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >2. Repayment period of up to 5 years by way of quarterly
                  repayments including interest accrued and deferred during the
                  availability and extension periods.&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span>3. A maximum term of up to 7 years.&nbsp; </span>
              </p>
              <p class="_ps">
                <span
                  >9. Pre-conditions The pre-conditions will include at
                  least:&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >1. Evidence of the borrower's status as an eligible citizen
                  of the claimed country.&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span>2. Delivery of security documents&nbsp; </span>
              </p>
              <p class="_ps">
                <span
                  >3. Completion of <q>Know Your Customer</q> and Anti-Money
                  Laundering requirements, for all directors and/or persons of
                  significant control&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >10.Security Typical security for a transaction of this nature
                  can include, but is not limited to:&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >1. A debenture over the borrower's assets (including, and
                  without limitation, a fixed charge over key assets and a
                  floating charge over all other assets of the borrower). Where
                  other funders are involved in a package deal, or future
                  commercial investment is subject to securing priority,
                  inter-creditor arrangements may be required. In this event,
                  priority over assets not specifically scheduled in support of
                  the innovation loan will not be unreasonably withheld. The
                  lender will not take personal guarantees or security over
                  principal private residences or benefit from the future sale
                  thereof in the event of a realisation.&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >11. Loan covenants The covenants set on each loan will depend
                  on the structure of the transaction and the nature of the
                  project. It is important to note that these covenants will
                  consider the overall viability of the business of the
                  borrower. The lender expects the project to meet its scheduled
                  delivery timetable with the support of the monitoring officer.
                  For example, covenants will include, at least:&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >1. Affirmative covenants maintaining financial records and
                  management information compliance with hexfinancer tax
                  obligations maintenance of adequate insurance, including
                  specific insurance in connection with the assets of the
                  borrower and 'key person' cover in case of the loss of an
                  important member of the business&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >2. Negative covenants control of <q>cash out</q>, dividends
                  and/or withdrawal of directors' loans. right of approval on
                  change of control or business sale requirement to maintain
                  prescribed debt service cover, liquidity, leverage and/or
                  current assets ratios right to convert the loan and accrued
                  interest to equity, with a view to sale of equity to effect
                  repayment, at a price agreed between the lender and the
                  borrower or through an expert valuation if, at the end of the
                  extension period or if at any time an event of default appears
                  likely, the lender determines after consultation with the
                  borrower that commercialisation of the results of the project
                  has not been achieved, but appears probable within a
                  reasonable period or if a liquidity event appears probable,
                  right to require repayment of the loan in the event of a loss
                  of intellectual property supported by hexfinancer during the
                  term of the loan right to seek early repayment through
                  refinancing or as part of a liquidity event if, as a result,
                  there is no longer a need for funding in the form of the loan
                  right to take control of any unexploited intellectual property
                  developed through the project not foregone in a
                  crystallisation event and distribute to the benefit of the
                  hexfinancer innovation community&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >3. reporting covenants annual accounts: audited as
                  appropriate and as filed at Companies House and/or draft
                  annual accounts, accountant- certified forecasts, regular
                  management information, tax returns and bank statements&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >12. Events of default The events of default will depend on
                  the structure of the transaction and the nature of the
                  project. The event of default will be market standard and will
                  include at least the following:&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >1. Change of control of the borrower without the lender's
                  prior written consent, which will not be unreasonably
                  withheld.&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span>2. Non-payment on repayment date.&nbsp; </span>
              </p>
              <p class="_ps">
                <span
                  >3. The borrower's failure to comply with its obligations
                  under the loan agreement.&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span>4. Insolvency of the borrower.&nbsp; </span>
              </p>
              <p class="_ps"><span>5. Cross-default.&nbsp; </span></p>
              <p class="_ps">
                <span
                  >6. It is or becomes unlawful for any party to perform its
                  obligations under the loan agreement. If the borrower defaults
                  on its loan commitments, the lender will take steps to recover
                  the debt in line with standard commercial practice.&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >13.Transferability and disclosure. The lender may freely
                  transfer its rights under the loan agreement. The lender may
                  disclose information applicable to such a transfer. The
                  borrower shall reasonably assist with the provision of such
                  information. The borrower may not assign or transfer its
                  rights under the loan agreement.&nbsp;
                </span>
              </p>
              <p class="_ps">
                <span
                  >14.Documentation The lender's standard form loan agreement
                  and security documentation will be used to document the
                  transaction. For Personal Loan Grant contact
                  hexfinancer:&nbsp;
                </span>
              </p>
              <p class="_ps">
                <a href="mailto:admin@hexfinancer.com"
                  >admin@hexfinancer.com&nbsp;
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
