<div class="container-fluid home mt-5" style="background: #f1a619;">
  <div class="row">
    <div class="col-md-6 mt-5 sm_mt">
      <div class="home_article m-auto" style="color: #ffffff;">
        <h1 class="pt-5 ml-5">The simplest way to invest in crypto</h1>
        <p class="ml-5 mt-3">Trade by utilizing our cryptocurrency asset allocation to make profit.
        </p>
        <a routerLink="/signup" class="ml-5 mt-5 pr-3 pl-3 pt-2 pb-2 btn_st">start now</a>
      </div>
    </div>
    <div class="col-md-6 video_col">
      <div class=" p-0 m-0">
        <img src="img/bitcoin.svg" class="m-auto d-block pt-2" alt="" width="80%">
      </div>
    </div>
  </div>
</div>


<div class="clrfix"></div>

<div class="container crypto home-2">
  <div class="row">

    <div class="col-md-6 mt-5">
      <video class="d-table m-auto" play="true" muted="" autoplay="" loop="" draggable="false">
        <source src="https://britchain.io/assets/video/TRADE.mp4" type="video/mp4">
      </video>
    </div>

    <div class="col-md-6 eth">
      <div>
        <h2>Invest, Buy and sell crypto anytime, anywhere</h2>
        <p>Trade Bitcoin, USDT, Dogecoin and Ethereum 24/7. Bestradeoption Crypto will be available on iOS and Android
          through
          the Bestradeoption app.</p>

      </div>
    </div>

  </div>
</div>


<div class="clearfix"></div>

<div class="container home-2 wp-home-2">
  <div class="row">
    <div class="col-md-6 mt-5">
      <div class="">
        <h2 class="">Crypto made simple</h2>

        <ul>
          <li>✔ Instant account activation</li>
          <li>✔ Reinvestment available</li>
          <li>✔ Simple pricing, $0 commission fees</li>
          <li>✔ No fees to deposit or withdraw</li>
        </ul>

        <a href="https://britchain.io/register" class="ml-5 mt-5 pr-3 pl-3 pt-2 pb-2  btn_st">start now</a>
      </div>
    </div>

    <div class="col-md-6">
      <img src="https://britchain.io/assets/img/bitcoin-pc.svg" alt="">
    </div>
  </div>
</div>


<div class="clearfix"></div>


<div class="container-fluid wp-start p5">
  <div class="p-5 sp">
    <h2 class="mt-5 text-center st">PLAN
    </h2>
  </div>
  <div class="container mb-5">
    <div class="row pb-5">

      <div class="col-md-4 d-table  rp-invest mt-3">
        <div class="invest-2 hv" style="background: #20c997;">
          <img src="https://britchain.io/assets/img/crypto.html" alt="" width="100%"
            style="margin-left:-6rem; margin-top: -5rem;">
          <h2>Crypto Investment</h2>
          <h4 class="mt-2 p-2">Min: $100.00</h4>
          <p class="p-2 pb-3">Max: $999.00</p>
          <a routerLink="/signup" class="pl-5 pr-5 pb-2 pt-2 btn_st">get started</a>
          <hr class="m-3">
          <div class="featurs pb-4">
            <ul>
              <li>✔ Fixed interest up to 10% </li>
              <li>✔ Financial planning session</li>
              <li>✔ No tax deductions</li>
              <li>✔ Automated Fund Allocation</li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-md-4 d-table  rp-invest mt-3">
        <div class="invest-2 hv" style="background: #6c757d;">
          <img src="https://britchain.io/assets/img/crypto.html" alt="" width="100%"
            style="margin-left:-6rem; margin-top: -5rem;">
          <h2>Crypto VIP I</h2>
          <h4 class="mt-2 p-2">Min: $1000.00</h4>
          <p class="p-2 pb-3">Max: $9,999.00</p>
          <a routerLink="/signup" class="pl-5 pr-5 pb-2 pt-2 btn_st">get started</a>
          <hr class="m-3">
          <div class="featurs pb-4">
            <ul>
              <li>✔ Fixed interest up to 15%</li>
              <li>✔ Financial planning session</li>
              <li>✔ No tax deductions</li>
              <li>✔ Automated Fund Allocation</li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-md-4 d-table  rp-invest mt-3">
        <div class="invest-2 hv" style="background: #e9244d;">
          <img src="https://britchain.io/assets/img/crypto.html" alt="" width="100%"
            style="margin-left:-6rem; margin-top: -5rem;">
          <h2>Crypto VIP II</h2>
          <h4 class="mt-2 p-2">Min: $10,000.00</h4>
          <p class="p-2 pb-3">Max: Unlimited</p>
          <a routerLink="/signup" class="pl-5 pr-5 pb-2 pt-2 btn_st">get started</a>
          <hr class="m-3">
          <div class="featurs pb-4">
            <ul>
              <li>✔ Fixed interest up to 30% </li>
              <li>✔ Financial planning session</li>
              <li>✔ No tax deductions</li>
              <li>✔ Automated Fund Allocation</li>
            </ul>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
