<div class="container-fluid ws-how">
  <div class="container">
    <div class="text-center">
      <h1>How It Works</h1>
      <h3>Invest in an intelligent portfolio of low-fee funds that are designed to meet your financial goals.
      </h3>
      <img src="https://britchain.io/assets/img/future-you-laptop.en_ca.png" alt="">
    </div>
  </div>
</div>
<div class="container-fluid home" style="z-index: 1;">
  <div class="row">
    <div class="col-md-6 mt-5 sm_mt">
      <div class="home_article m-auto">
        <h1 class="pt-5 ml-5">Your eggs in lots of different baskets</h1>
        <div class="mt-5">
          <p class="mt-3"><span class="p-3">✔</span>Diversifying your investments means<strong> you can
              minimize risk while maximizing rewards.</strong> We invest your money across the entire
            stock market using Exchange Traded Funds (ETFs).</p>
          <p class="mt-3"><span class="p-3">✔</span>We'll help you <strong> choose a risk level </strong>
            you're comfortable with, then build a custom portfolio based on your financial goals.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 video_col">
      <div class=" p-0 mt-3">
        <img class="d-table m-auto" src="img/Capture.png" width="60%" alt="">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="container text-center pt-5">
    <h2 class="">We keep your money safe</h2>
    <p>Your security and trust are important to us. We're committed to protecting your account with the highest
      standards of security available. <br> We use state-of-the-art data encryption when handling your
      financial information
    </p>
    <h3>More than 175,000 people trust over $5 billion with UpWealth Finances companies.</h3>
    <p></p>
  </div>
</div>

<div class="clrfix"></div>


<div class="container-fluid home-2">
  <div class="row">

    <div class="col-md-6">
      <img src="https://britchain.io/assets/img/flag.png" alt="mible trade">
    </div>

    <div class="col-md-6">
      <div class="mt-5 ml-5">
        <h2 class="ml-5 pt-5">Track your performance and see updates in real time.</h2>
        <p class="ml-5">Every investor can track the performance of their portfolio and see real-time
          updates via the web dashboard or mobile app. We'll keep you up to date on changes such as new
          asset acquisitions, progress or sales of existing projects, dividend payments, and other market
          commentary.
        </p>

        <a href="/register" class="p-2 btn_st ml-5 mt-3 mb-5">get started</a>
      </div>
    </div>

  </div>
</div>



<div class="container text-center mt-5 ws-more">
  <h2 style="" line="">Our mission is to empower you to improve your financial well-being.</h2>


  <form action="https://britchain.io/contact" method="post" class="text-left">
    <input type="hidden" name="_token" value="xlbcTYXTUExnW5z3zUoBKa7iIgfFWxpdZjKfrk6w">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name" class="pl-3">Name</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Enter full name" required="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="Email" class="pl-3">Email</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required="">
        </div>
      </div>

    </div>

    <div class="form-group">
      <label for="msg" class="pl-3">Message</label>
      <textarea class="form-control" name="message" id="msg" rows="10" required=""
        placeholder="Message here..."></textarea>
    </div>

    <div class="d-table m-auto pb-5">
      <button class="pl-5 pr-5 pb-2 pt-2 mt-3 mb-5 btn_st">SEND</button>

    </div>

  </form>
</div>
